/* ------------------------------- global ------------------------------- */

/* -------------------- body -------------------- */ 

.global__body{
	margin: 0;
	padding: 0;

	display: grid;
	grid-template-areas: 'header header header'
						 'aside  main   none'
						 'footer footer footer';
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: auto 1fr;

	height: 100vh;

	font-family: Arial, sans-serif;

	background-color: #fafad2;
}

/* -------------------- header -------------------- */

.global__header{
	grid-area: header;

	position: sticky;
	top: 0;

	text-align: center;

	border-bottom: 1px solid #a6a681;
	background-color: #ffffa6;
}
.global__header-logo{
	grid-area: logo;

	margin: 3px 0;

	font-family: Comfortaa, cursive;
	font-size: 1.7em;
}
.global__header-logo a{
	text-decoration: none;

	color: #000000;
}

/* -------------------- aside -------------------- */

.global__aside{
	grid-area: aside;

	display: grid;
	grid-template-areas: 'none1 nav none2';
	grid-template-columns: 1fr auto 10px;
	grid-template-rows: auto 1fr;
}

/* -------------------- nav -------------------- */

.global__aside-nav{
	grid-area: nav;

	top: 50px;
	position: sticky;

	font-family: Arial, sans-serif;

	border: 1px solid #a6a681;
	background: #fafad2;
}
.global__aside-nav h3{
	margin: 0;
	padding: 6px 20px;

	text-align: center;
	font-size: 1.3em;
	font-family: Comfortaa, cursive;

	border-bottom: 1px dashed #a6a681;
	background: #ffffa6;
}

/* -------------------- nav-list -------------------- */

.global__nav-list{
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;

	list-style: none;
}
.global__nav-list-item{
	padding: 5px 50px 5px 30px;

	border-bottom: 1px dashed #999999;
}
.global__nav-list-item:last-child{
	border-bottom: 0 dashed #999999;
}
.global__nav-list-item a{
	display: block;
	width: 100%;

	text-decoration: none;
	color: #333333;
}
.global__nav-list-item a::before {
	content: "» ";
}
.global__nav-list-item:hover{
	background-color: #ffffa6;
}
.global__nav-list-item:hover a{
	color: #000000;
}
.global__nav-list-item:hover a::before {
	color: #000000;
}

/* -------------------- main -------------------- */

.global__main{
	grid-area: main;

	padding-left: 25px;
	padding-right: 25px;
}

/* -------------------- content -------------------- */

.global__main-header{
	padding-bottom: 3px;

	text-align: center;
	font-family: Comfortaa, cursive;

	border-bottom: 1px dashed #a6a681;
}
.global__main-table{
	border-collapse: collapse;
}
.global__main-table th{
	padding: 5px;

	border: 1px solid #a6a681;
}
.global__main-table td{
	padding: 3px 5px;

	border: 1px solid #a6a681;
}
.global__main-table tr:hover{
	background-color: rgba(0, 0, 0, 0.15) !important;
}
.global__main-table tr:nth-child(2n){
	background-color: rgba(0, 0, 0, 0.075);
}

/* -------------------- footer -------------------- */

.global__footer{
	grid-area: footer;

	text-align: center;

	border-top: 1px solid #a6a681;
	background-color: #ffffa6;
}
