body{
	font-family:verdana;
	margin: 0px;
}

table{
	border-collapse:collapse;
}

a{
	color:blue;
}

code{
	font-size:1.25em;
}

tt{
	font-size:1.25em;
}

.audio{
	background-color:#d4d4d4;
}

.menu{
	background-color:#ffdb99;
}

.top-menu{
	background-color:#ffb833;
}

.down-menu{
	background-color:#ffb833;
}

.button_HTML5{
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 50px;
}

.button_CSS3{
	cursor: pointer;
	position: absolute;
	top: 40px;
	left: 300px;
}

.button-next{
 text-decoration:none; 
 text-align:center; 
 padding:11px 20px; 
 border:solid 3px #bd8e35; 
 -webkit-border-radius:25px;
 -moz-border-radius:25px; 
 border-radius: 25px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#000000; 
 background:#ffb833; 
 -webkit-box-shadow:inset 0,0,0px 0,0,0px 1,1,1px #ffffff,#ffffff,#ffffff;  
 -moz-box-shadow:inset 0px 0px 1px #ffffff;  
 box-shadow:inset 0px 0px 1px #ffffff;  
  }
  
.button-next:hover{
 padding:11px 20px; 
 border:solid 3px #bd8e35; 
 -webkit-border-radius:25px;
 -moz-border-radius:25px; 
 border-radius: 25px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#000000; 
 background:#ffb833; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;   
 }
 
.button-next:active{
 padding:11px 25px; 
 border:solid 3px #bd8e35; 
 -webkit-border-radius:25px;
 -moz-border-radius:25px; 
 border-radius: 25px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#ffffff; 
 background:#ffb833; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 }

.oganesyan{
 text-decoration:none; 
 text-align:center; 
 padding:11px 20px; 
 border:solid 3px #bd8e35; 
 -webkit-border-radius:25px;
 -moz-border-radius:25px; 
 border-radius: 25px; 
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#000000; 
 background:#ffb833; 
 -webkit-box-shadow:inset 0,0,0px 0,0,0px 1,1,1px #ffffff,#ffffff,#ffffff;  
 -moz-box-shadow:inset 0px 0px 1px #ffffff;  
 box-shadow:inset 0px 0px 1px #ffffff;  
  }

#option1,#option2,#option3,#option4{
	display:none;
	margin-bottom: 10px;