.idea
AnimalBook/.idea
Chocolate/.idea
Codeoon/.idea
DragAndDrop/.idea
EasyDictionary/.idea
EasyPaint/.idea
EasySpy/.idea 
EasySpy/module_easy-spy/config/config.php
FarmersMarket/.idea
FontsLib/.idea
Music/.idea
PROTON/.idea
SportChart/.idea
StylesLib/.idea
TemplateText/.idea
TimetableKIET/.idea
