/* ------------------------------- global ------------------------------- */

/* -------------------- body -------------------- */

.global__body{
	margin: 0px;
	padding: 0px;

	display: grid;
	grid-template-areas: 'header header'
						 'main   aside';
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;

	height: 100vh;

	font-family: Arial;

	background-color: #b3b3b3;
}

/* -------------------- header -------------------- */

.global__header{
	grid-area: header;

	display: grid;
	grid-template-areas: 'logo actions';
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;

	background-color: #d2d2d2;
	border-bottom: 1px solid #2c2c2c;
}
.global__header-logo{
	grid-area: logo;

	margin: 0px;

	text-align: center;
	font-size: 1.7em;
	font-family: Comfortaa;
}
.global__header-actions{
	grid-area: actions;
}

/* -------------------- main -------------------- */

.global__main{
	grid-area: main;
}
.global__main-canvas{
	position: absolute;
	width: 100%;
	height: calc(100% - 43px);
}

/* -------------------- scripts elements -------------------- */

#script__canvas-background{
	z-index: 1;
}
#script__canvas-paint{
	z-index: 2;
}
#f1_inp2{
	width: 50px;
}

/* -------------------- aside -------------------- */

.global__aside{
	grid-area: aside;

	padding: 10px;

	z-index: 3;

	background-color: #d2d2d2;
	border-left: 1px solid #2c2c2c;
}
.global__aside-title{
	margin: 10px;

	text-align: center;
	font-size: 1.5em;
	font-family: Comfortaa;
}
.global__aside-buttons{
	margin: 10px;
	text-align: right;
}

/* -------------------- aside settings -------------------- */

.global__aside-settings{
	border-bottom: 1px dashed #888888;
}
.global__aside-settings-content{

}

/* -------------------- aside layers -------------------- */

.global__aside-layers{
	border-bottom: 1px dashed #888888;
}

/* -------------------- aside colors -------------------- */

.global__aside-colors{
	
}
.global__aside-colors-content{
	width: 230px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.global__aside-colors-content-color{
	margin: 2px;

	width: 35px;
	height: 20px;

	border: 2px solid #ffffff;
}
