<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Простой переводчик</title>

		<link rel="stylesheet" href="../css/global.css">
	</head>

	<body class="global__body">
		<header class="global__header">
			<h1 class="global__header-logo">
				<a href="index.html">Простой переводчик</a>
			</h1>
		</header>

		<aside class="global__aside">
			<nav class="global__aside-nav">
				<h3 class="global__aside-nav-title">меню</h3>

				<ul class="global__nav-list">
					<li class="global__nav-list-item">
						<a href="translate.html">переводчик</a>
					</li>

					<li class="global__nav-list-item">
						<a href="ru-en-dist.html">рус-англ словарь</a>
					</li>

					<li class="global__nav-list-item">
						<a href="en-ru-dist.html">англ-рус словарь</a>
					</li>
				</ul>
			</nav>
		</aside>

		<main class="global__main">
			<h2 class="global__main-header">
				Англ-рус словарь
			</h2>

			<table class="global__main-table">
				<thead>
					<tr>
						<th>Английский</th>
						<th>Русский</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Addiction</td>
						<td>Зависимость</td>
					</tr>

					<tr>
						<td>Achivement</td>
						<td>Достижение</td>
					</tr>

					<tr>
						<td>Application</td>
						<td>Приложение</td>
					</tr>

					<tr>
						<td>Automated Cash System (AKS)</td>
						<td>Автоматизированная кассовая система (АКС)</td>
					</tr>
				</tbody>
			</table>
		</main>

		<footer class="global__footer">
			Просто. Открыто. Для всех.<br>
			Easy. Open. For everybody.<br>
			18.10.2020
		</footer>
	</body>
</html>