<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Простой переводчик</title>

		<link rel="stylesheet" href="../css/global.css">
	</head>

	<body class="global__body">
		<header class="global__header">
			<h1 class="global__header-logo">
				<a href="index.html">Простой переводчик</a>
			</h1>
		</header>

		<aside class="global__aside">
			<nav class="global__aside-nav">
				<h3 class="global__aside-nav-title">меню</h3>

				<ul class="global__nav-list">
					<li class="global__nav-list-item">
						<a href="translate.html">переводчик</a>
					</li>

					<li class="global__nav-list-item">
						<a href="ru-en-dist.html">рус-англ словарь</a>
					</li>

					<li class="global__nav-list-item">
						<a href="en-ru-dist.html">англ-рус словарь</a>
					</li>
				</ul>
			</nav>
		</aside>

		<main class="global__main">
			<h2 class="global__main-header">
				Переводчик
			</h2>
		</main>

		<footer class="global__footer">
			Просто. Открыто. Для всех.<br>
			Easy. Open. For everybody.<br>
			18.10.2020
		</footer>
	</body>
</html>