/* ------------------------------- fonts ------------------------------- */

/* -------------------- 28 Days Later -------------------- */

@font-face {
	font-family: '28 Days Later';
	src: local('28 Days Later'),
		 url('../fonts/28 Days Later/28 Days Later.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- a_LCDNova -------------------- */

@font-face {
	font-family: 'a_LCDNova';
	src: local('a_LCDNova'),
		 url('../fonts/a_LCDNova/a_LCDNova.ttf') format('truetype'),
		 url('../fonts/a_LCDNova/a_LCDNova.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- airstrike -------------------- */

@font-face {
	font-family: 'airstrike';
	src: local('airstrike'),
		 local('airstrike Regular'),
		 local('airstrike-regular'),
		 url('../fonts/airstrike/airstrike.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- Android Insomnia -------------------- */

@font-face {
	font-family: 'Android Insomnia';
	src: local('Android Insomnia'),
		 local('Android Insomnia Regular'),
		 url('../fonts/Android Insomnia/AndroidInsomniaRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- Arial -------------------- */

@font-face {
	font-family: 'Arial';
	src: local('Arial'),
		 url('../fonts/Arial/Arial.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- Arizone Unicase -------------------- */

@font-face {
	font-family: 'Arizone Unicase';
	src: local('Arizone Unicase'),
		 local('Arizone Unicase Regular'),
		 url('../fonts/Arizone Unicase/ArizoneUnicaseRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- Aromia Script -------------------- */

@font-face {
	font-family: 'Aromia Script';
	src: local('Aromia Script Thin'),
		 url('../fonts/Aromia Script/AromiaScriptThin.otf') format('embedded-opentype');
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: 'Aromia Script';
	src: local('Aromia Script'),
		 local('Aromia Script Regular'),
		 url('../fonts/Aromia Script/AromiaScriptMedium.otf') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Aromia Script';
	src: local('Aromia Script Bold'),
		 url('../fonts/Aromia Script/AromiaScriptBold.otf') format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Aromia Script';
	src: local('Aromia Script Black'),
		 url('../fonts/Aromia Script/AromiaScriptBlack.otf') format('embedded-opentype');
	font-weight: bolder;
	font-style: normal;
}

/* -------------------- Astro Space -------------------- */

@font-face {
	font-family: 'Astro Space';
	src: local('Astro Space'),
		 local('Astro Space Regular'),
		 url('../fonts/Astro Space/AstroSpace.ttf') format('truetype'),
		 url('../fonts/Astro Space/AstroSpace.otf') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- Azonix -------------------- */

@font-face {
	font-family: 'Azonix';
	src: local('Azonix'),
		 local('Azonix Regular'),
		 url('../fonts/Azonix/Azonix.otf') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- BadaBoom BB -------------------- */

@font-face {
	font-family: 'BadaBoom BB';
	src: local('BadaBoom BB'),
		 url('../fonts/badaboom/BadaBoom BB.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Bahnschrift -------------------- */

@font-face {
	font-family: 'Bahnschrift';
	src: local('Bahnschrift'),
		 local('Bahnschrift Regular'),
		 local('Bahnschrift-Regular'),
		 url('../fonts/Bahnschrift/Bahnschrift.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- Beon -------------------- */

@font-face {
	font-family: 'Beon';
	src: local('Beon'),
		 local('Beon Regular'),
		 url('../fonts/Beon/BeonMedium.ttf') format('truetype'),
		 url('../fonts/Beon/BeonMedium.otf') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- Calibri -------------------- */

@font-face {
	font-family: 'Calibri';
	src: local('Calibri'),
		 url('../fonts/Calibri/Calibri.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Cambria -------------------- */

@font-face {
	font-family: 'Cambria';
	src: url('Cambria-Italic.eot');
	src: local('Cambria Italic'),
		 local('Cambria-Italic'),
		 url('../fonts/Cambria/Cambria-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Cambria/Cambria-Italic.woff') format('woff'),
		 url('../fonts/Cambria/Cambria-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Cambria';
	src: url('Cambria-Bold.eot');
	src: local('Cambria Bold'),
		 local('Cambria-Bold'),
		 url('../fonts/Cambria/Cambria-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Cambria/Cambria-Bold.woff') format('woff'),
		 url('../fonts/Cambria/Cambria-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Cambria';
	src: url('Cambria.eot');
	src: local('Cambria'),
		 url('../fonts/Cambria/Cambria.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Cambria/Cambria.woff') format('woff'),
		 url('../fonts/Cambria/Cambria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cambria';
	src: url('Cambria-BoldItalic.eot');
	src: local('Cambria Bold Italic'),
		 local('Cambria-BoldItalic'),
		 url('../fonts/Cambria/Cambria-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Cambria/Cambria-BoldItalic.woff') format('woff'),
		 url('../fonts/Cambria/Cambria-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

/* -------------------- Capture it -------------------- */

@font-face {
	font-family: 'Capture it';
	src: local('Capture it'),
		 url('../fonts/Capture it/Capture it.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Comfortaa -------------------- */

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa.eot');
	src: local('Comfortaa'),
		url('../fonts/Comfortaa/Comfortaa.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Comfortaa/Comfortaa.woff') format('woff'),
		url('../fonts/Comfortaa/Comfortaa.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa-Bold.eot');
	src: local('Comfortaa Bold'),
		 local('Comfortaa-Bold'),
		 url('../fonts/Comfortaa/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Comfortaa/Comfortaa-Bold.woff') format('woff'),
		 url('../fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa/Comfortaa-Light.eot');
	src: local('Comfortaa Light'),
		 local('Comfortaa-Light'),
		 url('../fonts/Comfortaa/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Comfortaa/Comfortaa-Light.woff') format('woff'),
		 url('../fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


/* -------------------- Consolas -------------------- */

@font-face {
	font-family: 'Consolas';
	src: local('Consolas'),
		 url('../fonts/Consolas/Consolas.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- ExoTwo / Exo 2 -------------------- */

@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Thin'),
		 local('Exo2-Thin'),
		 url('../fonts/ExoTwo/exo2thin.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2thin.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Thin Italic'),
		 local('Exo2-ThinItalic'),
		 url('../fonts/ExoTwo/exo2thinitalic.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2thinitalic.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2thinitalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Extra Light'),
		 local('Exo2-ExtraLight'),
		 url('../fonts/ExoTwo/exo2extralight.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2extralight.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2extralight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Extra Light Italic'),
		 local('Exo2-ExtraLightItalic'),
		 url('../fonts/ExoTwo/exo2extralightitalic.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2extralightitalic.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2extralightitalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Light'),
		 local('Exo2-Light'),
		 url('../fonts/ExoTwo/exo2light.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2light.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Light Italic'),
		 local('Exo2-LightItalic'),
		 url('../fonts/ExoTwo/exo2lightitalic.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2lightitalic.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2lightitalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2'),
		 local('Exo2-Regular'),
		 url('../fonts/ExoTwo/exo2.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Italic'),
		 local('Exo2-Italic'),
		 url('../fonts/ExoTwo/exo2italic.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2italic.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Medium'),
		 local('Exo2-Medium'),
		 url('../fonts/ExoTwo/exo2medium.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2medium.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Medium Italic'),
		 local('Exo2-MediumItalic'),
		 url('../fonts/ExoTwo/exo2mediumitalic.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2mediumitalic.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2mediumitalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Semi Bold'),
		 local('Exo2-SemiBold'),
		 url('../fonts/ExoTwo/exo2semibold.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2semibold.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Semi Bold Italic'),
		 local('Exo2-SemiBoldItalic'),
		 url('../fonts/ExoTwo/exo2semibolditalic.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2semibolditalic.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2semibolditalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Bold'),
		 local('Exo2-Bold'),
		 url('../fonts/ExoTwo/exo2bold.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2bold.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Bold Italic'),
		 local('Exo2-BoldItalic'),
		 url('../fonts/ExoTwo/exo2bolditalic.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2bolditalic.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2bolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Extra Bold'),
		 local('Exo2-ExtraBold'),
		 url('../fonts/ExoTwo/exo2extrabold.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2extrabold.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Extra Bold Italic'),
		 local('Exo2-ExtraBoldItalic'),
		 url('../fonts/ExoTwo/exo2extrabolditalic.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2extrabolditalic.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2extrabolditalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Black'),
		 local('Exo2-Black'),
		 url('../fonts/ExoTwo/exo2black.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2black.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Exo 2';
	src: local('Exo 2 Black Italic'),
		 local('Exo2-BlackItalic'),
		 url('../fonts/ExoTwo/exo2blackitalic.woff2') format('woff2'),
		 url('../fonts/ExoTwo/exo2blackitalic.woff') format('woff'),
		 url('../fonts/ExoTwo/exo2blackitalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

/* -------------------- Lato -------------------- */

@font-face {
	font-family: 'Humblle Rought';
	src: local('Humblle Rought'),
		 local('Humblle Rought Caps'),
		 url('../fonts/Humblle Rought/Humblle Rought.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Humblle Rought/Humblle Rought.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Lato -------------------- */

@font-face {
	font-family: 'Lato';
	src: local('Lato'),
		 url('../fonts/Lato/Lato.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Lucida Console -------------------- */

@font-face {
	font-family: 'Lucida Console';
	src: local('Lucida Console'),
		 url('../fonts/Lucida Console/Lucida Console.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Magnolia Script -------------------- */

@font-face {
	font-family: 'Magnolia Script';
	src: local('Magnolia Script'),
		 url('../fonts/Magnolia Script/magnolia-script.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Minecraft Title Cyrillic -------------------- */

@font-face {
	font-family: 'Minecraft Title Cyrillic';
	src: local('Minecraft Title Cyrillic'),
		 url('../fonts/Minecraft Title Cyrillic/Minecraft Title Cyrillic.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Minecraftia -------------------- */

@font-face {
	font-family: 'Minecraftia';
	src: local('Minecraftia'),
		 url('../fonts/Minecraftia/Minecraftia.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Montserrat -------------------- */

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Light.eot');
	src: local('Montserrat Light'),
		 local('Montserrat-Light'),
		 url('../fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-MediumItalic.eot');
	src: local('Montserrat Medium Italic'),
		 local('Montserrat-MediumItalic'),
		 url('../fonts/Montserrat/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-MediumItalic.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Thin.eot');
	src: local('Montserrat Thin'),
		 local('Montserrat-Thin'),
		 url('../fonts/Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-ExtraLightItalic.eot');
	src: local('Montserrat ExtraLight Italic'),
		 local('Montserrat-ExtraLightItalic'),
		 url('../fonts/Montserrat/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-ExtraLightItalic.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-BoldItalic.eot');
	src: local('Montserrat Bold Italic'),
		 local('Montserrat-BoldItalic'),
		 url('../fonts/Montserrat/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-BoldItalic.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'),
		 local('Montserrat-SemiBold'),
		 url('../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-ExtraLight.eot');
	src: local('Montserrat ExtraLight'),
		 local('Montserrat-ExtraLight'),
		 url('../fonts/Montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot');
	src: local('Montserrat ExtraBold Italic'),
		 local('Montserrat-ExtraBoldItalic'),
		 url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Italic.eot');
	src: local('Montserrat Italic'),
		 local('Montserrat-Italic'),
		 url('../fonts/Montserrat/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Bold.eot');
	src: local('Montserrat Bold'),
		 local('Montserrat-Bold'),
		 url('../fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-LightItalic.eot');
	src: local('Montserrat Light Italic'),
		 local('Montserrat-LightItalic'),
		 url('../fonts/Montserrat/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-LightItalic.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-BlackItalic.eot');
	src: local('Montserrat Black Italic'),
		 local('Montserrat-BlackItalic'),
		 url('../fonts/Montserrat/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-BlackItalic.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot');
	src: local('Montserrat SemiBold Italic'),
		 local('Montserrat-SemiBoldItalic'),
		 url('../fonts/Montserrat/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-SemiBoldItalic.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.eot');
	src: local('Montserrat Regular'),
		 local('Montserrat-Regular'),
		 url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Medium.eot');
	src: local('Montserrat Medium'),
		 local('Montserrat-Medium'),
		 url('../fonts/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-ExtraBold.eot');
	src: local('Montserrat ExtraBold'),
		 local('Montserrat-ExtraBold'),
		 url('../fonts/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Black.eot');
	src: local('Montserrat Black'),
		 local('Montserrat-Black'),
		 url('../fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-Black.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-ThinItalic.eot');
	src: local('Montserrat Thin Italic'),
		 local('Montserrat-ThinItalic'),
		 url('../fonts/Montserrat/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Montserrat/Montserrat-ThinItalic.woff') format('woff'),
		 url('../fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

/* -------------------- Myriad Pro -------------------- */

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BoldCondIt.eot');
	src: local('Myriad Pro Bold Condensed Italic'),
		 local('MyriadPro-BoldCondIt'),
		 url('../fonts/MyriadPro/MyriadPro-BoldCondIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BoldCondIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BoldCondIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BlackIt.eot');
	src: local('Myriad Pro Black Italic'),
		 local('MyriadPro-BlackIt'),
		 url('../fonts/MyriadPro/MyriadPro-BlackIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BlackIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BlackIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-LightIt.eot');
	src: local('Myriad Pro Light Italic'),
		 local('MyriadPro-LightIt'),
		 url('../fonts/MyriadPro/MyriadPro-LightIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-LightIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-LightIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BlackCond.eot');
	src: local('Myriad Pro Black Condensed'),
		 local('MyriadPro-BlackCond'),
		 url('../fonts/MyriadPro/MyriadPro-BlackCond.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BlackCond.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BlackCond.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Cond.eot');
	src: local('Myriad Pro Condensed'),
		 local('MyriadPro-Cond'),
		 url('../fonts/MyriadPro/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-Cond.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-Cond.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Bold.eot');
	src: local('Myriad Pro Bold'),
		 local('MyriadPro-Bold'),
		 url('../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BoldIt.eot');
	src: local('Myriad Pro Bold Italic'),
		 local('MyriadPro-BoldIt'),
		 url('../fonts/MyriadPro/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BoldIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BoldSemiCnIt.eot');
	src: local('Myriad Pro Bold SemiCondensed Italic'),
		 local('MyriadPro-BoldSemiCnIt'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiCnIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiCnIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiCnIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-CondIt.eot');
	src: local('Myriad Pro Condensed Italic'),
		 local('MyriadPro-CondIt'),
		 url('../fonts/MyriadPro/MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-CondIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-CondIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-LightCond.eot');
	src: local('Myriad Pro Light Condensed'),
		 local('MyriadPro-LightCond'),
		 url('../fonts/MyriadPro/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-LightCond.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-LightCond.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiCn.eot');
	src: local('Myriad Pro SemiCondensed'),
		 local('MyriadPro-SemiCn'),
		 url('../fonts/MyriadPro/MyriadPro-SemiCn.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiCn.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiCn.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiCnIt.eot');
	src: local('Myriad Pro SemiCondensed Italic'),
		 local('MyriadPro-SemiCnIt'),
		 url('../fonts/MyriadPro/MyriadPro-SemiCnIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiCnIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiCnIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BoldCond.eot');
	src: local('Myriad Pro Bold Condensed'),
		 local('MyriadPro-BoldCond'),
		 url('../fonts/MyriadPro/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BoldCond.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BoldCond.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-LightSemiExtIt.eot');
	src: local('Myriad Pro Light SemiExtended Italic'),
		 local('MyriadPro-LightSemiExtIt'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiExtIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiExtIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiExtIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Semibold.eot');
	src: local('Myriad Pro Semibold'),
		 local('MyriadPro-Semibold'),
		 url('../fonts/MyriadPro/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-Semibold.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Black.eot');
	src: local('Myriad Pro Black'),
		 local('MyriadPro-Black'),
		 url('../fonts/MyriadPro/MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-Black.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Regular.eot');
	src: local('Myriad Pro Regular'),
		 local('MyriadPro-Regular'),
		 url('../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-Regular.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-LightSemiCn.eot');
	src: local('Myriad Pro Light SemiCondensed'),
		 local('MyriadPro-LightSemiCn'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiCn.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiCn.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiCn.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BlackCondIt.eot');
	src: local('Myriad Pro Black Condensed Italic'),
		 local('MyriadPro-BlackCondIt'),
		 url('../fonts/MyriadPro/MyriadPro-BlackCondIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BlackCondIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BlackCondIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-LightCondIt.eot');
	src: local('Myriad Pro Light Condensed Italic'),
		 local('MyriadPro-LightCondIt'),
		 url('../fonts/MyriadPro/MyriadPro-LightCondIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-LightCondIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-LightCondIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-LightSemiExt.eot');
	src: local('Myriad Pro Light SemiExtended'),
		 local('MyriadPro-LightSemiExt'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiExt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiExt.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BlackSemiCnIt.eot');
	src: local('Myriad Pro Black SemiCondensed Italic'),
		 local('MyriadPro-BlackSemiCnIt'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiCnIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiCnIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiCnIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiboldCondIt.eot');
	src: local('Myriad Pro Semibold Condensed Italic'),
		 local('MyriadPro-SemiboldCondIt'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldCondIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldCondIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldCondIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiboldCond.eot');
	src: local('Myriad Pro Semibold Condensed'),
		 local('MyriadPro-SemiboldCond'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldCond.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldCond.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BoldSemiExtIt.eot');
	src: local('Myriad Pro Bold SemiExtended Italic'),
		 local('MyriadPro-BoldSemiExtIt'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiExtIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiExtIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiExtIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiboldSemiCn.eot');
	src: local('Myriad Pro Semibold SemiCondensed'),
		 local('MyriadPro-SemiboldSemiCn'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiCn.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiCn.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiCn.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BlackSemiExtIt.eot');
	src: local('Myriad Pro Black SemiExtended Italic'),
		 local('MyriadPro-BlackSemiExtIt'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiExtIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiExtIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiExtIt.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.eot');
	src: local('Myriad Pro Semibold SemiExtended Italic'),
		 local('MyriadPro-SemiboldSemiExtIt'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiExtIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-LightSemiCnIt.eot');
	src: local('Myriad Pro Light SemiCondensed Italic'),
		 local('MyriadPro-LightSemiCnIt'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiCnIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiCnIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-LightSemiCnIt.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BoldSemiCn.eot');
	src: local('Myriad Pro Bold SemiCondensed'),
		 local('MyriadPro-BoldSemiCn'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiCn.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiCn.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.eot');
	src: local('Myriad Pro Semibold SemiCondensed Italic'),
		 local('MyriadPro-SemiboldSemiCnIt'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiCnIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiboldIt.eot');
	src: local('Myriad Pro Semibold Italic'),
		 local('MyriadPro-SemiboldIt'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-It.eot');
	src: local('Myriad Pro Italic'),
		 local('MyriadPro-It'),
		 url('../fonts/MyriadPro/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-It.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-It.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BoldSemiExt.eot');
	src: local('Myriad Pro Bold SemiExtended'),
		 local('MyriadPro-BoldSemiExt'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiExt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiExt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BoldSemiExt.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-Light.eot');
	src: local('Myriad Pro Light'),
		 local('MyriadPro-Light'),
		 url('../fonts/MyriadPro/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-Light.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiboldSemiExt.eot');
	src: local('Myriad Pro Semibold SemiExtended'),
		 local('MyriadPro-SemiboldSemiExt'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiExt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiExt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiboldSemiExt.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiExtIt.eot');
	src: local('Myriad Pro SemiExtended Italic'),
		 local('MyriadPro-SemiExtIt'),
		 url('../fonts/MyriadPro/MyriadPro-SemiExtIt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiExtIt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiExtIt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BlackSemiCn.eot');
	src: local('Myriad Pro Black SemiCondensed'),
		 local('MyriadPro-BlackSemiCn'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiCn.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiCn.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiCn.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-BlackSemiExt.eot');
	src: local('Myriad Pro Black SemiExtended'),
		 local('MyriadPro-BlackSemiExt'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiExt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiExt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-BlackSemiExt.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro/MyriadPro-SemiExt.eot');
	src: local('Myriad Pro SemiExtended'),
		 local('MyriadPro-SemiExt'),
		 url('../fonts/MyriadPro/MyriadPro-SemiExt.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/MyriadPro/MyriadPro-SemiExt.woff') format('woff'),
		 url('../fonts/MyriadPro/MyriadPro-SemiExt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- Nero -------------------- */

@font-face {
	font-family: 'Nero';
	src: local('Nero'),
		 local('Nero Regular'),
		 url('../fonts/Nero/Nero.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- Nunito -------------------- */

@font-face {
	font-family: 'Nunito';
	src: local('Nunito'),
		 local('Nunito Regular'),
		 local('Nunito-Regular'),
		 url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Open Sans -------------------- */

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'),
		 local('Open Sans Regular'),
		 local('OpenSans-Regular'),
		 url('../fonts/Open Sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Roboto -------------------- */

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-MediumItalic.eot');
	src: local('Roboto Medium Italic'),
		 local('Roboto-MediumItalic'),
		 url('../fonts/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-MediumItalic.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Italic.eot');
	src: local('Roboto Italic'),
		 local('Roboto-Italic'),
		 url('../fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-Italic.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Bold.eot');
	src: local('Roboto Bold'),
		 local('Roboto-Bold'),
		 url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Regular.eot');
	src: local('Roboto'),
		 local('Roboto-Regular'),
		 url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Medium.eot');
	src: local('Roboto Medium'),
		 local('Roboto-Medium'),
		 url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-BoldItalic.eot');
	src: local('Roboto Bold Italic'),
		 local('Roboto-BoldItalic'),
		 url('../fonts/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-BoldItalic.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-ThinItalic.eot');
	src: local('Roboto Thin Italic'),
		 local('Roboto-ThinItalic'),
		 url('../fonts/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-ThinItalic.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Black.eot');
	src: local('Roboto Black'),
		 local('Roboto-Black'),
		 url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-Black.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Light.eot');
	src: local('Roboto Light'),
		 local('Roboto-Light'),
		 url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-Light.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-LightItalic.eot');
	src: local('Roboto Light Italic'),
		 local('Roboto-LightItalic'),
		 url('../fonts/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-LightItalic.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-BlackItalic.eot');
	src: local('Roboto Black Italic'),
		 local('Roboto-BlackItalic'),
		 url('../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Thin.eot');
	src: local('Roboto Thin'),
		 local('Roboto-Thin'),
		 url('../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Roboto/Roboto-Thin.woff') format('woff'),
		 url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

/* -------------------- Rogueland Slab -------------------- */

@font-face {
	font-family: 'Rogueland Slab';
	src: local('Rogueland Slab'),
		 local('Rogueland Slab Bold'),
		 url('../fonts/Rogueland Slab/RoguelandSlabBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* -------------------- Rozovii Chulok -------------------- */

@font-face {
	font-family: 'Rozovii Chulok';
	src: local('Rozovii Chulok'),
		 url('../fonts/Rozovii Chulok/Rozovii Chulok.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Segoe Script -------------------- */

@font-face {
	font-family: 'Segoe Script';
	src: local('Segoe Script'),
		 url('../fonts/Segoe Script/Segoe Script.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Showtime -------------------- */

@font-face {
	font-family: 'Showtime';
	src: local('Showtime'),
		 local('Showtime Regular'),
		 url('../fonts/Showtime/Showtime.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* -------------------- Tahoma -------------------- */

@font-face {
	font-family: 'Tahoma';
	src: local('Tahoma'),
		 url('../fonts/Tahoma/Tahoma.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


/* -------------------- Times New Roman -------------------- */

@font-face {
	font-family: 'Times New Roman';
	src: local('Times New Roman'),
		 url('../fonts/Times New Roman/Times New Roman.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- VAG World -------------------- */

@font-face {
	font-family: 'VAG World';
	src: local('VAG World'),
		 url('../fonts/VAG World/VAG World.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Verdana -------------------- */

@font-face {
	font-family: 'Verdana';
	src: local('Verdana'),
		 url('../fonts/Verdana/Verdana.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

/* -------------------- Vision Demo -------------------- */

@font-face {
	font-family: 'Vision Demo';
	src: local('Vision Demo'),
		 local('Vision Demo Regular'),
		 local('VisionDemo-Regular'),
		 url('../fonts/Vision Demo/VisionDemo-Regular.otf') format('embedded-opentype'),
		 url('../fonts/Vision Demo/VisionDemo-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Vision Demo';
	src: local('Vision Demo Bold'),
		 local('VisionDemo-Bold'),
		 url('../fonts/Vision Demo/VisionDemo-Bold.otf') format('embedded-opentype'),
		 url('../fonts/Vision Demo/VisionDemo-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
